/* .header{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
} */

.sticky-header{
  position: sticky;
    top: 0;
    z-index: 999;
}


@media screen and (min-width: 969px) {
  .MuiDialog-paper {
    width: 701px;
    max-width: 701px !important;
    border-radius: 13px !important;
  }
  .SubmitModal .MuiDialog-paper{
    width: 450px;
    max-width: 450px !important;
    overflow: hidden !important;
  }

  .SubmitModal2 .MuiDialog-paper{
    width: 450px;
    max-width: 450px !important;
    overflow: hidden !important;
  }
  .SubmitModal2 .MuiDialog-paper .css-1hgfzkp-MuiDialogContent-root{
    overflow: unset; 
    height: 100% !important;
  }

  .SubmitModal .css-1va6kh9-MuiCardContent-root:last-child{
    padding: 16px 0 ;
  }

  .SubmitModal .MuiDialogContent-root{
    padding: 20px 8px;
  }
  .SubmitModal2 .MuiDialogContent-root{
    padding: 20px 8px;
  }

}


/* @media (min-width: 1200px) and (max-width: 1300px) {
  .modalInner.MuiBox-root.css-0 {
    height: 320px !important;
    overflow: auto;
  }
}
 */

/* 
 .header__container{
  flex-wrap: nowrap !important;
 } */

 .panel_metric_header{
  justify-content: flex-start;
 }

@media only screen and (min-width:550px){

  .header__container{
    flex-wrap: nowrap !important;
   }

   .panel_metric_header{
    justify-content: flex-end;
   }
   .header__container_child1::before{
    display: none;
   }
}

.header__container_child1::before{
    border-bottom: 1px solid #dddddd;
    padding: 0;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100%;
    left: -2%
  
}
.header__container_child1{
  position: relative;
}

@media only screen and (max-width:767px){
  .header_patient_name{
    text-overflow: ellipsis; /* Adds ... if the text is too long */
    max-width: 150px;     /* Adjust max width as necessary */
    white-space: nowrap;
    overflow: hidden; 
  }
  
  .header_patient_name span {
    white-space: nowrap;
    margin-left: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    display: block;   /* Adjust max width based on your layout */
  }
}

/* @media only screen and (max-width:730px){
  .suspect_recapture_header{
    display: none;
  }
} */


