.MuiDrawerTop .MuiDrawer-paper {
    top: 8rem;
    box-shadow: 0px 0px 7px 0px #17236D66;
    background: #F9F9F9;
    border-top: 3px solid #D9D9D9;
}

@media only screen and (max-width:599px){
    .subTop__header{
        height: 85px !important;
    }
}

@media only screen and (max-width:340px){
    .subTop__header{
       height: auto !important;
    }
}

@media (max-width: 374.95px) {
    .css-1h2zfbv-MuiContainer-root {
        padding: 5px !important;
    }
}