/* .subTop__header{
     position: fixed;
     top: 61px;
     left: 0;
     right: 0;
     z-index: 99999;
} */


.pendingActions{

    font-weight: 600 !important;
}

.summary-mobile{
 
    font-weight: 600 !important;
}


@media (max-width: 374.95px) {
    .css-1h2zfbv-MuiContainer-root {
        padding: 5px !important;
    }

    .MuiDrawerTop .MuiDrawer-paper {
        top: 9rem;
       
    }
    
    .MuiDrawerDown .MuiDrawer-paper {
        top: 9rem;
    }
} 


@media (max-width: 374.95px) {
    .css-1h2zfbv-MuiContainer-root {
        padding: 5px !important;
    }

    .MuiDrawerTop .MuiDrawer-paper {
        top:13.25rem;
       
    }
    
    .MuiDrawerDown .MuiDrawer-paper {
        top:13.25rem;
    }
} 


@media (max-width: 424.95px) {

    .pendingActions{
        font-size: 12px !important;
        font-weight: 600 !important;
    }
    
    .summary-mobile{
        font-size: 12px !important;
        font-weight: 600 !important;
    }
} 

/* @media (max-width: 549px) {
    .subTop__header{
        position: fixed;
        top: 121px;
      
   }
} */

@media only screen and (max-width:550px){
    .responsiveMuiDrawerTop .MuiDrawer-paper {
        top: 13.8rem;
    }
    
    

    .responsiveMuiDrawerDown .MuiDrawer-paper {
        top: 13.8rem;
    }
}


@media only screen and (max-width:550px){
    .responsiveMuiDrawerTopwithreadonly .MuiDrawer-paper {
        top: 15.8rem;
    }
    
    .responsiveMuiDrawerDownwithreadonly .MuiDrawer-paper {
        top: 15.8rem;
    }
}


@media only screen and (min-width: 550px) and (max-width: 969px) {
    .responsiveMuiDrawerTopwithreadonly .MuiDrawer-paper {
        top: 11.8rem;
    }

    .responsiveMuiDrawerDownwithreadonly .MuiDrawer-paper {
        top: 11.8rem;
    }
}
