.MuiDrawerTop .MuiDrawer-paper {
    top: 10rem;
    box-shadow: 0px 0px 7px 0px #17236D66;
    background: #F9F9F9 !important;
    border-top: 3px solid #D9D9D9;
}

.MuiDrawerDown .MuiDrawer-paper {
    top: 10rem;
    box-shadow: 0px 0px 7px 0px #17236D66;
    background: #FFFFFF !important;
    border-top: 3px solid #D9D9D9;
    height: fit-content;
    width: 100%;
}

.pendingActions{

    font-weight: 600 !important;
}

.summary-mobile{
 
    font-weight: 600 !important;
}


@media (max-width: 374.95px) {
    .css-1h2zfbv-MuiContainer-root {
        padding: 5px !important;
    }

    .MuiDrawerTop .MuiDrawer-paper {
        top: 9rem;
       
    }
    
    .MuiDrawerDown .MuiDrawer-paper {
        top: 9rem;
    }
} 


@media (max-width: 424.95px) {

    .pendingActions{
        font-size: 12px !important;
        font-weight: 600 !important;
    }
    
    .summary-mobile{
        font-size: 12px !important;
        font-weight: 600 !important;
    }
} 
